{% extends "layout.html" %}
{% block content %}
{% from 'macros.html' import  papers_of_year %}
{% from 'macros.html' import  button_of_year %}


<hr class="featurette-divider">
<!-- START JUMBOTRON-->

<div class="row featurette" >
  <div class="jumbotron jumbotron-fluid">
      <div class="container text-center" >
          <h1 class="display-4" >Publicaciones</h1>
      </div>
 </div>
</div>

<!-- /END THE JUMBOTRON -->

<!-- START COLLAPSABLE -->
{% for year in years%}
  {{button_of_year(papers,year)}}
{% endfor %}

<!-- /END COLLAPSABLE -->



{% endblock %}
