{% extends "layout.html" %}
{% block content %}
{% from "macros.html" import macro_linea%}

<!-- START JUMBOTRON-->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="jumbotron jumbotron-fluid">
      <div class="container text-center" >
          <h1 class="display-4">Investigación</h1>
      </div>
 </div>
</div>

<!-- /END THE JUMBOTRON -->

<!-- START THE FEATURETTES -->

<!-- START THE SENSORES-->

<button class="btn btn-primary btn-block " type="button" data-toggle="collapse" data-target="#collapse_sensores" aria-expanded="false" aria-controls="collapse_sensores" white-space: normal>
  <h3>Dispositivos de diagnóstico</h3>
  <h3>y monitoreo ambiental</h3>
  </button>


<div class="collapse" id="collapse_sensores">
 
  <div class="card">
    <div class="card-body">
      <div class="col-md-7 col-md-push-5">

        <p class="card-text">Los sensores son dispositivos que permiten la determinación selectiva de una especie con un mínimo tratamiento de la muestra. Fundamentalmente consta de un elemento de reconocimiento que le da el carácter selectivo. La muestra en contacto con este elemento produce un cambio (oxidación, generación de luz, calor) que es registrado y transformado en una señal que a su vez puede ser digitalizada y transmitida.
          En el laboratorio combinamos metodos producción de la industria electrónica, electroquímica, métodos colorimétricos y química de materiales, para desarrollar dispositivos económicos, rápidos y portátiles que puedan aplicarse en diagnóstico y monitoreo ambiental.
          Algunos de nuestros proyectos:</p>
        
       <!-- el id viene de el query all que hice en este template y por eso es plural, 'linea' es la sección estatica de la ruta que busco--> 
        {{macro_linea(lineas, "Dispositivos de diagnóstico y monitoreo ambiental")}} 
       <!-- queryall devuelve una estructura de datos entera, no alcanza con .nombre para elegir un elemento--> 
    
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="{{url_for('static',filename='images/esquema sensor.png')}}" alt="Generic placeholder image">
      </div>
    </div>
  </div>
</div>

<!-- /END THE SENSORES-->

<!-- START THE BIO -->

<button class="btn btn-primary btn-block " type="button" data-toggle="collapse" data-target="#collapse_bio" aria-expanded="false" aria-controls="collapse_bio">
  <h3>Bioingeniería de moléculas de</h3>
  <h3>ADN funcional</h3>
  </button>


<div class="collapse" id="collapse_bio">
 
  <div class="card">
    <div class="card-body">
      <div class="col-md-7 col-md-push-5">

        <p class="card-text">En el laboratorio hacemos uso del proceso de selección in vitro para obtener moléculas de ADN funcionales (aptámeros y DNAzimas) con alta afinidad y especificidad hacia diferentes targets. Luego, integramos estas moléculas de ADN en sensores que permitan el monitoreo ambiental de patógenos y diagnóstico de enfermedades infecciosas.
          Algunos de nuestros proyectos: </p>
          {{macro_linea(lineas, "Bioingeniería de moléculas de ADN funcional")}} 
        
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="{{url_for('static',filename='images/Fig aptDNAzima-0.png')}}" alt="Generic placeholder image">
      </div>
    </div>
  </div>



</div>


<!-- /END THE BIO -->

<button class="btn btn-primary btn-block " type="button" data-toggle="collapse" data-target="#collapse_nano" aria-expanded="false" aria-controls="collapse_nano">
  <h3>Síntesis de nanoestructuras</h3>
  <h3>funcionales</h3>
  </button>


<div class="collapse" id="collapse_nano">
 
  <div class="card">
    <div class="card-body">
      <div class="col-md-7 col-md-push-5">

        <p class="card-text">La generación de estructuras porosas y partículas en la escala de los nanómetros permite el control de reacciones químicas y el reconocimiento de moléculas en concentraciones menores al nanomolar y en algunos casos la detección de moléculas individuales. 
          Algunos de nuestros proyectos:</p>
        
        {{macro_linea(lineas, "Síntesis de nanoestructuras funcionales")}} 
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="{{url_for('static',filename='images/nanoporo.png')}}" alt="Generic placeholder image">
      </div>
    </div>
  </div>

</div>

<!-- /END THE NANO -->


<!-- /END THE FEATURETTES -->


{% endblock %}
